.daohang ul li.selected{
    background-color: rgba(246, 250, 8, 0.5);
}
.daohang{
    border: 1px solid rgba(0, 140, 255, 0.2);
    float: left;
    background-color: rgba(0, 140, 255, 0.2);
    position: fixed;
    top: 280px;
    left: 10px;
}
table{
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}
td,th{
    border: thin dotted black;
    padding: 5px;
}
caption{
    font-style: italic;
    padding-top: 8px;
}
th.th{
    background-color: #c60;
}
td.style{
    background-color: chartreuse;
    border: thin dotted black;
    padding: 5px;
}
.daohang li{
    list-style-type: square;
}