p.get
{
    background-color: aqua;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-image: url(../web/images/英雄.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    border-style:outset ;
}
#chenhandashuaibi{
    background-color: saddlebrown;
}