
    p{
    font-family: "Cascadia Mono";
    color: rgb(43,49, 44)
    background-color: gray;
    border: 1px solid red
    }
    h1, h2 
    {
    font-size: 10vw;
	font-family: Arial;
	color: grey;
    
    }
    h1{
    border-bottom: 1px solid black;
    }
    em{
    font-family: monospace;
    }
    body{
    background-color:antiquewhite ;
    text-decoration: none;
    }

