body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
  padding: 0%;
  margin: 0;
}

a:link,a:hover,a:visited,a:active{
  text-decoration: none;
  color: black;
}




.zhuye{
  list-style-type: none;
  font: inherit;
  display: flex ;
  flex-direction:  column;
  flex-wrap: wrap;
  flex-basis: 100vw;
  flex-flow: column wrap;
  /* align-items: center;
  align-self: center;
  align-content: center;
  text-align: center; */
  /* justify-content: center; */
  align-content: start;
  margin-top: 100px;
  /* margin: 0px auto; */
  height: 6700px;
  width: 1200px;
  position: relative;
  /* width: 100vw; */
  /* flex-direction: column; */
    /* flex-shrink: 0; */
  /* transition: 1s linear; */
  /* height: 695vh; */
}

/* @media screen and (min-width: 1000px){
  .zhuye{
    height: 6450px;
  }
  
} */

.hua {
  /* all:initial; */
  /* display: inline-block; */
  flex-wrap: wrap;
  padding-left:4vw ;
  padding-bottom:100px ;
  flex-wrap: wrap;
  display: inline;
}

/* .hua > * {
  flex-shrink: 0;
  flex-basis: 100vw;
} */

.imgg{
  /* all:initial; */
  border-top: 1px solid black;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top:0 ;
  /*object-fit: cover; */
}



.zhuye img{
  /* all:initial; */
  width: 20vw;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

.zp{
  /* all:initial; */
  margin-top: 0%;
  padding-top:0 ;
  width: 20vw ;
  font-size: 1.1vw;
  position: relative;
  bottom: 60px;
  /* object-fit: cover; */
}

.zz{
  padding-top:0 ;
  margin-top: 0%;
  padding-bottom: 0;
  margin-bottom: 0;
  /* all:initial; */
  width: 20vw ;
  font-size:1vw ;
  position: relative;
  bottom: 50px;
  /* padding-bottom: 50px; */
  /* object-fit: cover; */
}


/* .ppp img{
  justify-self: center;

  width: 70%;
} */

.rrr img{
  position: relative;
  left: 3vw;
  width: 14vw;
}

.xxx img{
  position: relative;
  left: 2vw;
  width: 16vw;
}

.zcc img{
  position: relative;
  left: 3vw;
  width: 14vw;
  height: 46vh;
}

.zkk img{
  position: relative;
  left: 1vw;
  width: 18vw;
  /* height: 40vh; */
}

.zll img{
  position: relative;
  left: 4vw;
  width: 12vw;

}

.zqq img{
  position: relative;
  left: 1vw;
  width: 18vw;
}

.zss img{
  position: relative;
  left: 1vw;
  width: 18vw;
}

.ztt img{
  position: relative;
  left: 1vw;
  width: 18vw;
}