body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
  padding: 0%;
  margin: 0;
}

a:link,a:hover,a:visited,a:active{
  text-decoration: none;
  color: black;
}




.zhuye{
  list-style-type: none;
  font: inherit;
  display: flex ;
  flex-direction:  column;
  flex-wrap: wrap;
  flex-basis: 100vw;
  flex-flow: column wrap;
  align-content: start;
  margin-top: 100px;
  /* margin: 0px auto; */
  height: 6700px;
  width: 1200px;
  /* width: 100vw; */
  /* flex-direction: column; */
    /* flex-shrink: 0; */
  /* transition: 1s linear; */
  /* height: 695vh; */
}

/* @media screen and (min-width: 1000px){
  .zhuye{
    height: 6450px;
  }
  
} */

.hua {
  all:initial;
  /* display: inline-block; */
  flex-wrap: wrap;
  padding-left:2vw ;
  padding-bottom:12vh ;
  flex-wrap: wrap;
  display: inline;
}

/* .hua > * {
  flex-shrink: 0;
  flex-basis: 100vw;
} */

.imgg{
  border-top: 1px solid black;
  padding-top: 3vh;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}



.zhuye img{
  width: 20vw;
}

.zp{
  width: 20vw ;
  /* object-fit: cover; */
}

.zz{
  width: 20vw ;
  /* object-fit: cover; */
}

