body{
  font-family: 'Ideal Sans A','Ideal Sans B',Helvetica,Arial,sans-serif;
}

ul li{
  
  list-style-type: none;
  font: inherit;
  font-size: 100%;
  display: inline-block;
}

ul img{

  width: 20vw;
}


.imgg.zp.zz a{
  display: block;
}